<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>875389498678-k6uccmpolc4d2rjf6g9ua40ptkf2ms8f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.875389498678-k6uccmpolc4d2rjf6g9ua40ptkf2ms8f</string>
	<key>API_KEY</key>
	<string>AIzaSyCgEkaUjPqX6vs_PPmy04BGZx7vOytoHOk</string>
	<key>GCM_SENDER_ID</key>
	<string>875389498678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatroom</string>
	<key>PROJECT_ID</key>
	<string>chatroom-2f2c6</string>
	<key>STORAGE_BUCKET</key>
	<string>chatroom-2f2c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875389498678:ios:b5070afbbf4a5a27</string>
	<key>DATABASE_URL</key>
	<string>https://chatroom-2f2c6.firebaseio.com</string>
</dict>
</plist>